.vscode
.DS_Store
*.ipynb
.python-version
__pycache__

*.sh
!scripts/run_widesearch_parallel.sh
.venv
*egg-info/
data/output/inner*
data/output/group*
data/output/*.jsonl
data/output/*.csv
data/output/*.json
data/*.csv
data/*.jsonl
data/*.json
data/all_data/*
!data/*debug.jsonl

data/answer/*.csv
data/anwer_en/*.csv

data/eval_output/*
data/e2e_output/*

!template*
data/*
logs/
